# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/
.venv/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# VS Code and IDEs
.vscode/
.idea/

# Logs and output
*.log
*.out
*.tmp
*.swp

# Jupyter
.ipynb_checkpoints/

# Python packaging
*.egg-info/
dist/
build/
